.venv/
__pycache__/
*.pyc
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/checkpoints/*
!models/checkpoints/.gitkeep
*.pt
*.onnx
runs/
wandb/
*.h5
.env
.kaggle/
node_modules/
dist/
build/
.DS_Store
*.log
